/* *Navbar con header */

header{
    background-color: rgb(44, 62, 80);
    /* height: 70px; */
}
.my-height{
    height: 70px;
}

/* * Jumbotron */

section#jumbotron{
    background-color: rgb(26, 188, 156);
}

#jumbo-main{
    width: 560px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

#photo-user{
    width: 250px;
}

/* *Portfolio */

.title-section{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    font-size: 3rem;
}


.my-about{
    background-color: rgb(26, 188, 156);
}

.my-box{
    padding: 0 2rem;
}

.my-footer{
    background-color:rgb(58, 84, 109);
}

.yellow{
    background-color: yellow;
}

/* Prove per il centraggio */

/* .my-center-row{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
} */

/* *meglio con alignt items */
/* .container .row div h3, 
.container .row div h4{
    text-align: center;
    line-height: 70px;
} */

/* *header testing */
h4,
h3,
h2,
h1{
    font-weight: 600;
    text-transform: uppercase;
}



header .container .row .col-6 h4{
    display: inline;
}

section.my-portfolio div div.row div img{
    width: 100%;
    border-radius: 1rem;
}

p{
    font-size: 1.05rem;
}

/* * separatore linee stellina  */

.line-star{
    width: 150px;
    height: 4px;
    border-radius: 4px;
    background-color: whitesmoke;
}

.fa-star{
    font-size: 1.5rem;
}

