header{
    background-color: rgb(44, 62, 80);
}

section.jumbotron{
    background-color: rgb(26, 188, 156);
}

.my-riempitore{
    background-color: blueviolet;
    height: 70px; /* oppure 7/8vh */
}

.my-jumbotron{
    background-color: orangered;
    height: 550px;
}

.my-about{
    background-color: chartreuse;
    height: 300px;
}

.my-box{
    padding: 0 2rem;
}

.my-footer{
    background-color:rgb(58, 84, 109);
}

.yellow{
    background-color: yellow;
}