header{
    background-color: rgb(44, 62, 80);
    /* height: 70px; */
}

.my-height{
    height: 70px;
}


/* Provvisori */
section.jumbotron{
    background-color: rgb(26, 188, 156);
}

.my-riempitore{
    background-color: blueviolet;
    height: 70px; /* oppure 7/8vh */
}


.my-about{
    background-color: rgb(26, 188, 156);
    height: 350px;
}

.my-box{
    padding: 0 2rem;
}

.my-footer{
    background-color:rgb(58, 84, 109);
}

.yellow{
    background-color: yellow;
}

/* Prove per il centraggio */

/* .my-center-row{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
} */

/* *meglio con alignt items */
/* .container .row div h3, 
.container .row div h4{
    text-align: center;
    line-height: 70px;
} */

/* *header testing */
h4,
h3,
h2,
h1{
    font-weight: 600;
    text-transform: uppercase;
}

h1{
    font-size: 4rem;
}

header .container .row .col-6 h4{
    display: inline;
}

section.my-portfolio div div.row div img{
    width: 100%;
    border-radius: 1rem;
}

p{
    font-size: 1.05rem;
}


.line-star{
    width: 150px;
    height: 4px;
    border-radius: 4px;
    background-color: whitesmoke;
    display: inline-block;
}

.fa-star{
    margin: 0 1.5rem;
    vertical-align: middle;
    font-size: 1.5rem;
}

.my-lh{
    line-height: 70px;
}

/* 
line-height: 70px;
padding: 3rem 0; */

#photo-user{
    width: 250px;
}